<header class='header'>
  <section class='site-logo'>
    <h1>Bad A** Books!!</h1>
  </section>
  <nav>
    <div class='icon-menu'></div>
    <ul>
      <li class='tab' data-content="home"><a href="/books" class="icon-home"> Home</a></li>
      <li class='tab' data-content="search"><a href="search.ejs" class="icon-rocket"> Search</a></li>
      <li class='tab' data-content="add-a-book"><a href="/add" class='icon-plus'> Add A Book</a></li>
    </ul>
  </nav>
</header>