<header class="header">
  <section class="site-logo">
    <h1>
      301n11 Rocks!!!!
    </h1>
  </section>
  <nav>
    <div class="icon-menu">Menu</div>
    <ul>
      <li class="tab" data-content="home"><a href="index.ejs" target="_blank" class="icon-home"> Home</a></li>
      <li class="tab" data-content="search"><a href="search.ejs" target="_blank" class="icon-rocket"> Search</a></li>
      <li class="tab" data-content="details"><a href="show.ejs" target="_blank" class="icon-power"> Details</a></li>
      <li class="tab" data-content="add-a-book"><a href="addBook.ejs" target="_blank" class="icon-plus"> Add A Book</a></li>
    </ul>
  </nav>
</header>