<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app.css">
    <title>Hi there</title>
</head>

<body>
   <h1>Count: <%= books.length %> </h1>
<ul id = books>
     <% books.forEach((book) => { %>
  <li>
      <img id = "book_img" src= "<%= book.image_url %>"/>
     <b><%= book.title%></b> <br>
     <em><%= book.author%> </em><br>
     <% }); %>
  </li>
</ul>


</body>

</html>