<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <form action='' method=''>
      <p>
        <label></label>
      </p>
    </form>
    <%- include('../partials/footer') %>
  </body>

</html>