<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>
    <div id='page-label'>
      <h2 class='label'>Add A New Book</h2>
    </div>
    <form id='form' action='/add' method='post'>
        <input type="text" class="text" name='title' placeholder='Title' required pattern='[A-Za-z0-9 -\.]+'>
        <input type="text" class="text" name='author' placeholder="Author" required pattern='[A-Z][A-Za-z -\.]{4,25}'>
        <input type="text" class="text" name='isbn' placeholder="ISBN" required pattern='[0-9]{10,13}'>
        <input type="text" class="text" name='image_url' placeholder="Image URL" required pattern='[Hh][Tt][Tt][Pp][Ss:][:/.&=_:+\-a-zA-Z0-9]{1,255}'>
        <textarea  class="text" name='description' placeholder="Description" cols="30" rows="5"></textarea>
        <button class='list' type='submit' id='button'> Submit</button>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>

[A-Za-z0-9\.\/\&\=\_\:]{10,255}